* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: var(--color-white);
}


p{
  color: var(--color-white);
}

.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.title-home{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 20px;
  border-top: 20px;
  margin-top: 2rem;
}

.paginado{
  margin: 25px;
  padding: 25px;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  background: var(--color-prymary);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

:root {

  --color-bg--buttom: #0070cc;
  --color-bg: #002B5B;
  --color-bg-variant: #2B4865;
  --color-primary: #256D85;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #E7F6F2;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body{
  background-image: url(../src/assets/bc1.png);
  
  background-size:cover;
  background-repeat: no-repeat;
  
}



.App {
  text-align: center;
  
  
}

.App-link {
  color: #61dafb;
}



article {
  
  position: relative;
  border-radius: 16px;
  box-shadow: none;
 
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--color-white);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}


.cardbox{
  display:grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  
  
}

.filtros{
  padding: 25px;
  margin: 5px;
}


.btn-up{
  margin: 10px;
} 

.btn-back{
  margin: 30px;
  display: flex;
  justify-content: left;
  font-weight: bold;
  border: 2px solid var(--color-primary);
  

} 

.btn-filter {
  margin: 5px;

} 

.btn-create{
  font-weight: bold;
  border: 2px solid var(--color-white);
  padding-bottom: 10px;
  margin: 15px;
  color: var(--color-white);
  font-size: large;

}

.form{
  display: flex;
  flex-direction:column;
  gap: 1.2rem;
}


.titleform{
  color: var(--color-white);
  padding: 5px;
  margin: 5px;


}


input,
textarea {
  width: 25%;
  padding: 1rem;
  border-radius: 0.5rem;
  
  border: 2px solid var(--color-bg--buttom);
  resize: none;
  color: var(--color-bg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.platforms {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.containercolums {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}


/*  Responsive */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/*  Responsive  Card*/


@media screen and (max-width: 960px) {
  
  .article-body p {
    display: none;
  }
}



